! Xft settings
Xft.dpi:       96
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
Xft.hintstyle: hintslight

! xterm settings
!Xterm*faceName:     Monospace:pixelsize=12
Xterm*faceName:     SourceCodePro:pixelsize=13
XTerm*termName:     xterm-256color

! colorscheme
!#include ".themes/xterm/zenburn-dark"
#include ".themes/xterm/solarized-light"

